{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ website }} index</h1>

<div class="row">
    
    <div class="col card">
        <div class="card-header text-center"><h4>{{program.title}}</h4></div>
        <div class="card-body"><span class="small">Catégorie{{ program.category.name }}</span>
        <hr class="hr">
        synopsis</div>
        <div class="card-footer">
            <a href="{{ path("program_show", { id: '4' }) }}">Je veux la fiche 4 !</a>
        </div>
    </div>
   
</div>
{% endblock %}