{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ website }} indextoto</h1>

<div class="row">
    {# {% for program in programs %}  #}
    <div class="col card">
        <div class="card-header text-center"><h4>Un titre</h4></div>
        <div class="card-body"><span class="small">Catégorie comédie</span>
        <hr class="hr">
        synopsis</div>
        <div class="card-footer">
            <a href="{{ path("program_show", { id: '4' }) }}">Je veux la fiche 4 !</a>
        </div>
    </div>
    {# {% else %}
    <p>Aucun programme trouvé</p>
    {% endfor %} #}
</div>
{% endblock %}