{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ website }} index</h1>
<h6>Je teste si ça marche<span class="badge bg-primary">Quelle couleur ?</span></h6>
{% endblock %}